@import url("https://fonts.googleapis.com/css2?family=Gloock&display=swap");

body {
  background-image: url("adam.jpg");
  background-size: cover;
  font-family: "Gloock", serif;
  height:100vh;
  width: 100vw;
  margin: 0;
}
.home {
  display: grid;
  height: 100vh;
  grid-template-rows: 20vh 1fr;
  grid-template-areas: "navbar" "header";
}
@keyframes fly-in-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  padding: 2%;
  justify-content: end;
  animation-name: fly-in-left;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  color: rgb(123, 20, 20);
  animation-fill-mode: both;
}
.slogan {
  font-size: 80px;
  color: rgb(123, 20, 20);
  line-height: 80px;
  letter-spacing: 4px;
  margin: 0;
}
.name {
  font-size: 90px;
  color: white;
  margin: 0;
}
.span {
  font-size: 55px;
}
.navbar {
  color: white;
  grid-area: navbar;
  margin: 2%;
  font-family: Helvetica, sans-serif;
  font-weight: 200;
}
@keyframes fly-in-top {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}
.navBarList {
  list-style: none;
  height: 100%;
  text-align: right;
  font-size: 16px;
  animation-name: fly-in-top;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-fill-mode: both;
}
.navBarList li {
  margin-top: 1%;
}
.footer {
  grid-area: footer;
  color: white;
  text-align: center;
  color: rgb(123, 20, 20);
}
.navBarList a {
  text-decoration: none;
  color: inherit;
}

@keyframes fly-in-top {
  from {
    transform: translateY(500%);
  }
  to {
    transform: translateY(0%);
  }
}
.AboutTitle {
  font-size: 80px;
  color: rgb(123, 20, 20);
  border-bottom: solid 2px;
  margin: 0;
  animation-name: fly-in-top;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-fill-mode: both;
}
.secondRow {
  grid-area: aboutContent;
  overflow-y: auto;
  height:78vh
}
.about {
  color: rgb(155 116 67);
  font-size: 18px;
  font-family: "Bodoni Moda", serif;
  line-height: 12px;
}
.cv {
  font-size: 18px;
  color: rgb(155 116 67);
  font-family: "Bodoni Moda", serif;
}
.cvTitle {
  font-size: 24px;
  text-decoration: underline;
  margin-bottom: 16px;
}
.skills {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}
.skills li {
  margin-left: 5%;
}
.cvList {
  margin-top: 0;
  line-height: 28px;
  list-style: none;
}
.cv a {
  color: rgb(123, 20, 20);
}
.projectsWrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: 22vh 1fr;
  grid-template-areas: "navbar" "project";
  background-color: #c7a867;
}
.projects img {
  width: 22vw;
  border-radius: 250px 250px 0 0;
  filter: grayscale(1);
}
.projects {
  grid-area: project;
  display: flex;
  border-top: solid white 1px;
  padding-top: 2%;
  animation-name: fly-in-left;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-fill-mode: both;
  overflow-y: auto;
}
.projects a {
  color: inherit;
}
.projectContent {
  width: 20vw;
  font-size: 14px;
  text-align: left;
  align-self: center;
  padding-bottom: 1vh;
  line-height: 21px;
  font-family: "Bodoni Moda";
}

.codenames {
  border-right: solid 1px white;
  color: rgb(123, 20, 20);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.shopper {
  border-right: solid 1px white;
  color: rgb(123, 20, 20);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.projectTitle {
  font-size: 40px;
  margin: 0;
}
.filler {
  font-size: 80px;
  color: rgb(123, 20, 2);
  display: flex;
  align-items: self-end;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 5vh;
}
.contactWrapper {
  background-color: #657446;
  background-size: cover;
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 20vh 1fr;
  grid-template-areas: "navbar" "contact";
}
.contact {
  overflow-y: auto;
  grid-area: contact;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  animation-name: fly-in-left;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-fill-mode: both;
}
.contactContent {
  width: 40%;
}
.methods {
  margin-left: 5%;
  color: white;
}
.methods a {
  color: inherit;
}
.stay {
  margin: 0 0 0 5%;
  font-size: 130px;
  color: white;
}
.inTouch {
  margin: 0px 0 0 5%;
  font-size: 100px;
  color:rgb(209 168 116);
}
.contact img{width:60%}
/*--------------------------------------600px below------------------------------------*/
@media screen and (max-width: 600px) {
  .navBarList {
    color: rgb(123, 20, 2);
    font-weight: 400;
  }
  .name {
    font-size: 30px;
  }
  .slogan {  letter-spacing:normal;
    font-size: 20px;
    margin-top: -20px;
    line-height: 60px;
  }
  .span {
    font-size: 20px;
    margin-top: -20px;
  }
  .stay {
    font-size: 45px;
    width: 100vw;
  }
  .projectTitle {
    font-size: 13px;
  }
  .filler {
    font-size: 20px;
    margin-top: 15%;
  }
  .inTouch {
    font-size: 35px;
    width: 100vw;
  }
  .AboutTitle {
    font-size: 28px;
  }
  .about {
    font-size: 14px;
    line-height: 18px;
    width: 90vw;
    margin: auto;
  }
  .cvTitle {
    font-size: 16px;
    margin-bottom: 0;
  }
  .cvList {
    line-height: 18px;
    padding-left: 0;
  }
  .cvList li {
    font-size: 12px;
    text-align: center;
  }
  .skills {
    font-size: 12px;
    margin: 0;
    padding: 0px 2px;
    list-style: none;
  }
  .projects {
    flex-direction: column;
  }
  .codenames {
    flex-direction: row;
  font-size: 12px;
  border-right: none;
  }
.shopper {
    flex-direction: row;
  font-size: 12px;
  border-right: none;
  }
  .projectContent {
    width: fit-content;
    font-size: 12px;
    padding:0 12px;
  }
.singleProjectTitle{border-right: solid 1px white;}
.projects img {
  width: 30vw;
}
.contact{flex-direction: column;align-items: flex-start;}
.contact img{width:100%}
.methods{    display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 95vw}
.methods p{margin-bottom:0;font-size: 14px;}
}
/*--------------------------------------600px - 1400px------------------------------------*/
@media screen and (min-width: 601px) and (max-width: 1400px) {

  .name {
    font-size: 80px;
  }
  .slogan {  letter-spacing:2px;
    font-size: 60px;
    line-height: 60px;
  }
  .span {
    font-size: 40px;
  }
  .stay {
    font-size: 50px;
  }
  .filler {
    font-size: 40px;
    margin-top: 15%;
    margin-left:20px
  }
  .inTouch {
    font-size: 45px;
  }
.AboutTitle {
    font-size: 50px;
  }
  .about {
    font-size: 16px;
    line-height: 18px;
    width: 90vw;
    margin: auto;
  } 
  .cvTitle {
    font-size: 18px;
    margin-bottom: 0;
  }
  .cvList {
    line-height: 18px;
    padding-left: 0;
  }
  .cvList li {
    font-size: 14px;
    text-align: center;
  }
  .skills {
    font-size: 14px;
    margin: 0;
    padding: 0px 2px;
    list-style: none;
  } 
  .projectTitle {
    font-size: 16px;
  }
  .projects img {
    width: 30vw;}

    .methods p{margin:0;font-size: 14px;}
}
