@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

body {
  background-color: rgb(252, 249, 237);
  background-size: cover;
  font-family: "Raleway", sans-serif;
  height: 100%;
  width: 100vw;
  margin: 0;
  font-weight: 400;
  font-size: 30px;
  overflow-x: auto;
  color: #0f0892;
}
.home {
  display: grid;
  grid-template-rows: 8% 1fr;
  grid-template-areas: "header" "projects";
  height: inherit;
}
.header {
  display: flex;
  grid-area: header;
  border-bottom: #0f0892 1px solid;
  color: #0f0892;
  position: fixed;
  width: 100%;
  height: 130px;
  background-color: rgb(252, 249, 237);
}
.navbar {
  margin: auto;
  display: flex;
  justify-content: right;
  width: 70%;
  align-items: center;
}
.navbar a {
  margin-right: 5%;
  font-size: 16px;
  color: inherit;
}
.name {
  font-size: 36px;
  margin: auto;
  display: block;
  padding-left: 5%;
}
.introduction {
  font-size: 16px;
  margin: auto;
  display: block;
  font-weight: 400;
}

.projects {
  grid-area: projects;
  display: grid;
  grid-template-columns: 1fr 35%;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "codenames projectPageTitle"
    "graceshopper projectPageTitle" "cardGame projectPageTitle";
  width: 100%;
}
.projectPageTitle {
  grid-area: projectPageTitle;
  font-size: 108px;
  color: #0f0892;
  position: fixed;
  top: 8%; /* Fixed to the top of the viewport */
  right: 8%;
}
.projects a {
  color: inherit;
}
.projectTitle {
  font-size: 30px;
  margin: 0;
  font-weight: 400;
}
.secondTitle {
  font-size: 18px;
  margin: 0;
}
.projectContent {
  font-size: 18px;
  line-height: 26px;
  width: 80%;
}
.codenames {
  grid-area: codenames;
  padding: 5% 0 0 15%;
}
.projectImage {
  width: 50%;
  padding-top: 2%;
}
.graceshopper {
  grid-area: graceshopper;
  padding: 5% 0 0 15%;
}
.cardGame {
  grid-area: cardGame;
  padding: 5% 0 0 15%;
}

.about {
  display: grid;
  grid-template-rows: 8% 1fr;
  grid-template-areas: "header" "aboutContent";
  height: inherit;
}
.aboutContent {
  font-size: 20px;
  grid-area: aboutContent;
  list-style: none;
  width: 100%;
  display: grid;
  grid-template-areas:
    "education cvPageTitle"
    "techStack cvPageTitle"
    "aboutFooter cvPageTitle";
  grid-template-columns: 1fr 35%;
  grid-template-rows: 1fr 1fr 1fr;
}
.cvPageTitle {
  grid-area: cvPageTitle;
  font-size: 108px;
  color: #0f0892;
  top: 8%;
  right: 8%;
  position: fixed;
}
.education {
  grid-area: education;
  padding: 5% 0 0 15%;
}
.education li {
  padding-top: 5%;
}
.techStack {
  grid-area: techStack;
  padding: 5% 0 0 15%;
}
.techList {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}
.techList li {
  width: calc(
    33.33% - 10px
  ); /* Adjust the width as needed, considering margins or paddings */
  margin: 5px; /* Adjust the margin as needed */
  box-sizing: border-box;
}
.aboutFooter {
  grid-area: aboutFooter;
  padding: 0 0 0 15%;
}

.contact {
  display: grid;
  grid-template-rows: 8% 1fr;
  grid-template-areas: "header" "contactContent";
  height: inherit;
}
.contactContent {
  grid-area: contactContent;
  width: 100%;
  display: grid;
  grid-template-areas:
    "contactLeft contactPageTitle"
    "method contactRight";
  grid-template-columns: 1fr 35%;
  grid-template-rows: 1fr 1fr;
}
.contactPageTitle {
  grid-area: contactPageTitle;
  font-size: 88px;
  color: #0f0892;
  top: 8%;
  right: 8%;
  position: fixed;
}
.methods {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  line-height: 0;
  align-items: center;
  grid-area: method;
  width: 50%;
  margin-left: 50%;
}

.methods a {
  color: inherit;
}
.contactLeft {
  height: 50%;
  grid-area: contactLeft;
  padding: 10% 0 0 0;
}
.contactRight {
  grid-area: contactRight;
  justify-self: right;
  align-self: flex-end;
  height: 60%;
}
/*--------------------------------------600px below------------------------------------*/
@media screen and (max-width: 600px) {
  .projects {
    grid-area: projects;
    display: block;
  }
  .projectPageTitle {
    font-size: 28px;
    position: inherit;
    top: auto;
    right: auto;
    margin: 100px auto 0;
    display: block;
    width: fit-content;
  }
  .navbar {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
    margin-right: 5%;
  }
  .navbar a {
    margin: 2% 5%;
    font-size: 12px;
    color: inherit;
  }
  .name {
    font-size: 16px;
  }
  .introduction {
    font-size: 12px;
  }

  .projectImage {
    width: 80%;
  }
  .projectTitle {
    font-size: 14px;
    margin: 0;
    font-weight: 400;
  }
  .secondTitle {
    font-size: 12px;
  }
  .projectContent {
    font-size: 12px;
    line-height: 18px;
    width: 90%;
  }

  .aboutContent {
    grid-area: aboutContent;
    display: block;
  }
  .cvPageTitle {
    font-size: 28px;
    position: relative;
    top: auto;
    right: auto;
    margin: 130px auto 0;
    display: block;
    width: fit-content;
  }
  .education {
    font-size: 12px;
    padding:2% 0 0 5%;
  }
  .techStack {
    font-size: 12px;
    padding:2% 0 0 5%;
  }
  .techList{
    padding:2% 0 0 5%;
  }
  .aboutFooter {
    font-size: 10px;
    padding:2% 0 0 5%;
  }
  .contactContent {
    grid-area: contactContent;
    width: 100%;
    display: block;
  }
  .contactLeft{width:40%;height:20%;}
  .contactRight{width:40%;height:20%;margin-left: 60%;}
  .methods{font-size: 14px;
  margin-left: 30%;}
  .contactPageTitle {
    font-size: 28px;
    position: relative;
    top: auto;
    right: auto;
    margin: 130px auto 0;
    display: block;
    width: fit-content;
  }

}
/*--------------------------------------600px - 800px------------------------------------*/
@media screen and (min-width: 600px) and (max-width: 800px) {
  .firstItem {
    border-right: solid black 3px;
    border-bottom: solid black 3px;
  }

  .innerBar {
    flex-direction: row;
    border-right: solid black 3px;
    border-bottom: solid black 3px;
    border-top: none;
    justify-content: space-around;
    line-height: 0;
  }
  .empty1 {
    border-right: none;
    border-top: none;
    border-bottom: solid black 3px;
  }
  .empty3 {
    border-top: none;
    border-bottom: solid black 3px;
  }
  .empty4 {
    background-color: #9bc4ca;
    border-top: solid black 3px;
    border-left: solid black 3px;
    border-bottom: solid black 3px;
  }
  .moreToCome {
    display: flex;
    flex-direction: row;
    border-left: none;
    justify-content: space-around;
    border-bottom: solid black 3px;
    border-top: solid black 3px;
    color: rgb(244, 239, 197);
    background-color: rgb(165, 70, 70);
  }
  .moreToComeInner p {
    margin: 0;
    padding-bottom: 0;
    font-weight: 400;
    font-size: 14px;
  }
  .moreToComeInner {
    justify-content: center;
    align-items: center;
    font-size: 14px;
    height: auto;
  }
  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    margin: auto 2%;
  }

  .smallText1 {
    text-align: right;
    margin: 0;
    font-size: 20px;
    padding-right: 5%;
  }
  .smallText2 {
    text-align: center;
    margin: 0;
    width: 90%;
    align-self: center;
    font-size: 20px;
    font-weight: 200;
  }

  .arrowAnimation2 {
    top: 95%;
    left: auto;
    right: 18%;
  }
  .arrowAnimation {
    top: 96%;
    left: auto;
    right: 10%;
  }
  .arrow-down {
    border-width: 0 2px 2px 0;
    padding: 5px;
    transform: rotate(45deg);
    position: absolute;
    cursor: pointer;
  }
  .arrow-up {
    border-width: 0 2px 2px 0;
    padding: 5px;
    transform: rotate(225deg);
  }
  .entireAbout {
    grid-template-rows: 10vh 1fr;
    grid-template-columns: auto;
    grid-template-areas: "nav" "about";
    height: 100vh;
  }
  .more {
    grid-area: more;
    background-color: rgb(165, 70, 70);
    margin: 0;
    border-left: none;
    border-top: solid black 3px;
    border-bottom: solid black 3px;
  }
  .projectContent {
    font-size: 18px;
    line-height: 30px;
    margin: 0;
    width: 90%;
  }
  .secondTitle {
    font-size: 20px;
  }
  .moreProject {
    font-size: 20px;
  }

  .entireContact {
    grid-template-rows: 10vh 1fr;
    grid-template-columns: auto;
    grid-template-areas: "nav" "contact";
    height: 100vh;
  }
  .contact {
    width: 100vw;
    grid-template-columns: auto 30vw;
    grid-template-rows: 85vh 5vh;
    grid-template-areas: "contactFlexBox contactFlexBox" "filler2 empty4";
  }
  .contactFlexBox {
    grid-area: contactFlexBox;
    display: flex;
    justify-content: space-between;
    width: 100vw;
  }
  .methods h1 {
    font-size: 20px;
  }
  .methods {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 0;
    align-items: center;
  }

  .methods a {
    color: inherit;
  }

  .filler2 {
    background-color: rgb(165, 70, 70);
    border-top: solid black 3px;
    border-bottom: solid black 3px;
    border-left: none;
  }
  .contactLeft {
    width: 25%;
    height: 12%;
  }
  .contactRight {
    width: 25%;
    height: 12%;
  }
}
/*--------------------------------------800px - 1250px------------------------------------*/
@media screen and (min-width: 800px) and (max-width: 1250px) {
  .firstItem {
    border-right: solid black 3px;
    border-bottom: solid black 3px;
  }
  .innerBar {
    flex-direction: row;
    border-right: solid black 3px;
    border-bottom: solid black 3px;
    border-top: none;
    justify-content: space-around;
    line-height: 0;
  }
  .empty1 {
    border-right: none;
    border-top: none;
    border-bottom: solid black 3px;
  }
  .empty3 {
    border-top: none;
    border-bottom: solid black 3px;
  }
  .empty4 {
    background-color: #9bc4ca;
    border-top: solid black 3px;
    border-left: solid black 3px;
    border-bottom: solid black 3px;
  }
  .moreToCome {
    display: flex;
    flex-direction: row;
    border-left: none;
    justify-content: space-around;
    border-bottom: solid black 3px;
    border-top: solid black 3px;
    color: rgb(244, 239, 197);
    background-color: rgb(165, 70, 70);
  }
  .moreToComeInner p {
    margin: 0;
    padding-bottom: 0;
    font-weight: 400;
    font-size: 14px;
  }
  .moreToComeInner {
    justify-content: center;
    align-items: center;
    font-size: 14px;
    height: auto;
  }
  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    margin: auto 2%;
  }
  .smallText1 {
    text-align: right;
    margin: 0;
    font-size: 20px;
    padding-right: 5%;
  }
  .smallText2 {
    text-align: center;
    margin: 0;
    width: 90%;
    align-self: center;
    font-size: 20px;
    font-weight: 200;
  }

  .arrowAnimation2 {
    top: 95%;
    left: auto;
    right: 18%;
  }
  .arrowAnimation {
    top: 96%;
    left: auto;
    right: 10%;
  }
  .arrow-down {
    border-width: 0 2px 2px 0;
    padding: 5px;
    transform: rotate(45deg);
    position: absolute;
    cursor: pointer;
  }
  .arrow-up {
    border-width: 0 2px 2px 0;
    padding: 5px;
    transform: rotate(225deg);
  }
  .entireAbout {
    grid-template-rows: 8vh 1fr;
    grid-template-columns: auto;
    grid-template-areas: "nav" "about";
    height: 100vh;
  }
  .more {
    grid-area: more;
    background-color: rgb(165, 70, 70);
    margin: 0;
    border-left: none;
    border-top: solid black 3px;
    border-bottom: solid black 3px;
  }
  .entireProject {
    grid-template-rows: 8vh 1fr;
    grid-template-columns: auto;
    grid-template-areas: "nav" "project";
    height: 100vh;
  }
  .projectFlexBox {
    justify-content: space-around;
    width: 100%;
  }
  .projects {
    width: auto;
    grid-template-columns: auto 30vw;
    grid-template-rows: 1fr 5vh;
    grid-template-areas: "projectFlexBox projectFlexBox" "filler empty4";
  }
  .projectContent {
    font-size: 18px;
    line-height: 30px;
    margin: 0;
    width: 90%;
  }
  .secondTitle {
    font-size: 20px;
  }
  .moreProject {
    font-size: 20px;
  }

  .entireContact {
    grid-template-rows: 8vh 1fr;
    grid-template-columns: auto;
    grid-template-areas: "nav" "contact";
    height: 100vh;
  }
  .contact {
    width: 100vw;
    grid-template-columns: auto 30vw;
    grid-template-rows: 85vh 5vh;
    grid-template-areas: "contactFlexBox contactFlexBox" "filler2 empty4";
  }
  .contactFlexBox {
    grid-area: contactFlexBox;
    display: flex;
    justify-content: space-between;
    width: 100vw;
  }
  .methods h1 {
    font-size: 20px;
  }
  .methods {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 0;
    align-items: center;
  }

  .methods a {
    color: inherit;
  }

  .filler2 {
    background-color: rgb(165, 70, 70);
    border-top: solid black 3px;
    border-bottom: solid black 3px;
    border-left: none;
  }
  .contactLeft {
    width: 25%;
    height: 12%;
  }
  .contactRight {
    width: 25%;
    height: 12%;
  }
}
/*--------------------------------------1250px - 1660px------------------------------------*/
@media screen and (min-width: 1250px) and (max-width: 1660px) {
  .Heidi {
    grid-template-columns: 1fr 1.2fr;
  }
  .heidiImage {
    width: 80%;
  }

  .smallText1 {
    font-size: 20px;
  }
  .smallText2 {
    font-size: 22px;
  }
}
