@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

body {
  background-color: #fcfcfc;
  background-size: cover;
  font-family: "Raleway", sans-serif;
  height: 100%;
  width: 100vw;
  margin: 0;
}
.entireHome{  height: 100vh;
  display: flex;
  flex-direction: column;}
.home {  flex-grow: 1;
  display: grid;
  grid-template-columns: 10% 1fr 20%;
  grid-template-rows: 85% 1fr;
  grid-template-areas: "empty1 intro image" "empty2 empty3 empty4";
}
/* @keyframes fly-in-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
} */
.image{
  background-color: rgb(20, 124, 209);
  grid-area: image;
  border-left: solid black 12px;
}
.empty1 {
  background-color: rgb(255, 242, 4);
  grid-area: empty1;
  border-right: solid black 12px;
}
.empty2 {
  background-color: rgb(207, 5, 5);
  grid-area: empty2;
  border-right: solid black 12px;
  border-top:solid black 12px;
}
.empty3{
  background-color: rgb(20, 124, 209);
  grid-area: empty3;
  border-top: solid black 12px;
display: flex;
justify-content: center;
}
.empty4{  background-color: rgb(255, 242, 4);
  grid-area: empty4;
  border-top: solid black 12px;
  border-left: solid black 12px;}
.intro {
  /* animation-name: fly-in-left; */
  /* animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-fill-mode: both;
*/
height:100%;
 display: flex;
  flex-direction: column;
  grid-area: intro;
  justify-content: flex-end;
} 
.name {
  font-size: 180px;
  color: rgb(20, 124, 209);
  font-weight: 400;
  margin: 0;
}
.smallText1 {  margin: 0;
  font-size: 30px;
  color: rgb(207, 5, 5);
  font-weight: 400;
  padding-left: 20px;
}
.smallText2 {  margin: 0;
  font-size: 40px;
  color: rgb(207, 5, 5);
  font-weight: 400;
  padding-left: 20px;
  padding-bottom: 5%;
}
@keyframes arrow-bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(30px);
  }
}
.arrow-down {
  border: solid rgb(255, 242, 4);
  border-width: 0 5px 5px 0;
  left: 50%;
  padding: 15px;
  transform: rotate(45deg);
  position: absolute;
  cursor: pointer;
}
.arrowAnimation {
  animation: arrow-bounce 1.5s ease-in-out infinite alternate;
}

.arrow-down2 {
  border: solid rgb(96, 11, 11);
  border-width: 0 3px 3px 0;
  left: 50%;
  padding: 10px;
  transform: rotate(45deg);
  position: absolute;
  cursor: pointer;
}
.arrow-down3 {
  border: solid rgb(96, 11, 11);
  border-width: 0 3px 3px 0;
  left: 50%;
  padding: 10px;
  transform: rotate(45deg);
  position: absolute;
  bottom: 30px;
  cursor: pointer;
}
.arrow-down4 {
  border: solid rgb(96, 11, 11);
  border-width: 0 3px 3px 0;
  left: 50%;
  padding: 10px;
  transform: rotate(225deg);
  position: absolute;
  bottom: 30px;
  cursor: pointer;
}
.navbar {
  font-weight: 400;
  grid-area: navbar;
  border-bottom: black solid 12px;
  font-size: 16px;
  /* animation-name: fly-in-top;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-fill-mode: both; */
  display: flex;
  justify-content: space-between;
  height: 5%;
}
@keyframes fly-in-top {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}

.firstItem {
  box-sizing: border-box;
  background-color: rgb(20, 124, 209);
  justify-content: center;
  width: 10%;
  display: flex;
  align-items: center;
  color: white;
  border-right: solid black 12px;
}
.firstItem a {
  text-decoration: none;
  color: rgb(255, 242, 4);
}
.innerBar {  box-sizing: border-box;
  display: flex;
  padding-top: 1%;
  background-color: rgb(207, 5, 5);
  justify-content: space-around;
  width: 20%;  border-left: solid black 12px;
}
.innerBar a {
  text-decoration: none;
  color: rgb(255, 242, 4);
}
.footer {
  grid-area: footer;
  text-align: center;
  color: rgb(96, 11, 11);
}

@keyframes fly-in-top {
  from {
    transform: translateY(500%);
  }
  to {
    transform: translateY(0%);
  }
}
.entireAbout{min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.about {
  font-size: 18px;
  color: rgb(155 116 67);
  flex: 1;
  display: grid;
  grid-template-columns: 10% 1fr 20%;
  grid-template-rows: 85% 1fr;
  grid-template-areas: "empty1 cvList image" "empty2 empty3 empty4";
}
.cvList{
   height:100%;
   display: flex;
    flex-direction: column;
    grid-area: cvList;
    justify-content: flex-end;
  }
.cvTitle {
  font-size: 24px;
  text-decoration: underline;
  margin-bottom: 16px;
}
.skills {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}
.skills li {
  margin-left: 5%;
}
.cv a {
  color: rgb(123, 20, 20);
}
.projectsWrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: 22vh 1fr;
  grid-template-areas: "navbar" "project";
  background-color: #c7a867;
}
.projects img {
  width: 22vw;
  border-radius: 250px 250px 0 0;
  filter: grayscale(1);
}
.projects {
  grid-area: project;
  display: flex;
  border-top: solid white 1px;
  padding-top: 2%;
  animation-name: fly-in-left;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-fill-mode: both;
  overflow-y: auto;
}
.projects a {
  color: inherit;
}
.projectContent {
  width: 20vw;
  font-size: 18px;
  text-align: left;
  align-self: center;
  padding-bottom: 1vh;
  line-height: 21px;
  font-family: "Lora", serif;
}

.codenames {
  border-right: solid 1px white;
  color: rgb(123, 20, 20);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.shopper {
  border-right: solid 1px white;
  color: rgb(123, 20, 20);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.projectTitle {
  font-size: 40px;
  margin: 0;
}
.filler {
  font-size: 80px;
  color: rgb(123, 20, 2);
  display: flex;
  align-items: self-end;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 15vh;
}
.contactWrapper {
  background-color: #657446;
  background-size: cover;
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 20vh 1fr;
  grid-template-areas: "navbar" "contact";
}
.contact {
  overflow-y: auto;
  grid-area: contact;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  animation-name: fly-in-left;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-fill-mode: both;
}
.contactContent {
  width: 40%;
}
.methods {
  margin-left: 5%;
  color: white;
}
.methods a {
  color: inherit;
}
.stay {
  margin: 0 0 0 5%;
  font-size: 130px;
  color: white;
}
.inTouch {
  margin: 0px 0 0 5%;
  font-size: 100px;
  color: rgb(209 168 116);
}
.contact img {
  width: 60%;
}
/*--------------------------------------600px below------------------------------------*/
@media screen and (max-width: 600px) {
  .navBarList {
    color: rgb(123, 20, 2);
    font-weight: 400;
  }
  .name {
    font-size: 30px;
  }
  .slogan {
    letter-spacing: normal;
    font-size: 20px;
    margin-top: -20px;
    line-height: 60px;
    margin-bottom: -20px;
  }
  .span {
    font-size: 20px;
  }
  .stay {
    font-size: 45px;
    width: 100vw;
  }
  .projectTitle {
    font-size: 13px;
  }
  .filler {
    font-size: 20px;
    margin-top: 15%;
  }
  .inTouch {
    font-size: 35px;
    width: 100vw;
  }
  .AboutTitle {
    font-size: 28px;
  }
  .about {
    font-size: 14px;
    line-height: 18px;
    width: 90vw;
    margin: auto;
  }
  .cvTitle {
    font-size: 16px;
    margin-bottom: 0;
  }
  .cvList {
    line-height: 18px;
    padding-left: 0;
  }
  .cvList li {
    font-size: 12px;
    text-align: center;
  }
  .skills {
    font-size: 12px;
    margin: 0;
    padding: 0px 2px;
    list-style: none;
  }
  .projects {
    flex-direction: column;
  }
  .codenames {
    flex-direction: row;
    font-size: 12px;
    border-right: none;
  }
  .shopper {
    flex-direction: row;
    font-size: 12px;
    border-right: none;
  }
  .projectContent {
    width: fit-content;
    font-size: 12px;
    padding: 0 12px;
  }
  .singleProjectTitle {
    border-right: solid 1px white;
  }
  .projects img {
    width: 30vw;
  }
  .contact {
    flex-direction: column;
    align-items: flex-start;
  }
  .contact img {
    width: 100%;
  }
  .methods {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 95vw;
  }
  .methods p {
    margin-bottom: 0;
    font-size: 14px;
  }
}
/*--------------------------------------600px - 1400px------------------------------------*/
@media screen and (min-width: 601px) and (max-width: 1400px) {
  .name {
    font-size: 80px;
  }
  .slogan {
    letter-spacing: 2px;
    font-size: 60px;
    line-height: 60px;
  }
  .span {
    font-size: 40px;
  }
  .stay {
    font-size: 50px;
  }
  .filler {
    font-size: 40px;
    margin-top: 15%;
    margin-left: 20px;
  }
  .inTouch {
    font-size: 45px;
  }
  .AboutTitle {
    font-size: 50px;
  }
  .about {
    font-size: 16px;
    line-height: 18px;
    width: 90vw;
    margin: auto;
  }
  .cvTitle {
    font-size: 18px;
    margin-bottom: 0;
  }
  .cvList {
    line-height: 18px;
    padding-left: 0;
  }
  .cvList li {
    font-size: 14px;
    text-align: center;
  }
  .skills {
    font-size: 14px;
    margin: 0;
    padding: 0px 2px;
    list-style: none;
  }
  .projectTitle {
    font-size: 16px;
  }
  .projects img {
    width: 30vw;
  }

  .methods p {
    margin: 0;
    font-size: 14px;
  }
}
